---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Header from "@/components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

type Props = {posts: CollectionEntry<"blog">[]};
const {posts} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <Main>
      <section>
        <ul class="m-0 flex list-none flex-wrap gap-0.5 p-0 md:gap-6">
          <li class="mb-6 w-full text-center">
            <a href={`/posts/${posts[0].id}/`}>
              {
                posts[0].data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={posts[0].data.heroImage}
                    alt=""
                    class="mb-2 rounded-lg"
                  />
                )
              }
              <h4 class="h2 !border-b-0">{posts[0].data.title}</h4>
              <p class="text-sm">
                <FormattedDate date={posts[0].data.pubDate} />
              </p>
            </a>
          </li>
          {
            posts.slice(1).map((post) => (
              <li class="w-[calc(50%-1rem)]">
                <a href={`/posts/${post.id}/`}>
                  {post.data.heroImage && (
                    <Image
                      width={720}
                      height={360}
                      src={post.data.heroImage}
                      alt=""
                      class="mb-2 rounded-lg"
                    />
                  )}
                  <h4 class="h4">{post.data.title}</h4>
                  <p class="text-sm">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </Main>
    <Footer />
  </body>
</html>
